<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web app</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="container">
        <h1>POSTS</h1>
        <form action="/">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque illo ut ad modi
                 ipsum facilis laudantium non, alias eligendi voluptatem, dicta fugiat inventore 
                 odit quos esse similique ab nemo tempore.0
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque illo ut ad modi
                 ipsum facilis laudantium non, alias eligendi voluptatem, dicta fugiat inventore 
                 odit quos esse similique ab nemo tempore.0
            </p>
        </form>
        <form action="/add" method="post">
            <input type="text" name="post" placeholder="Please wirte your post">
            <button type="submit" id="add">Post</button>
        </form>
        <ul>
            <% posts.forEach((post,  dele) => { %>
                <li>
                    <div class="post">
                        <%= post %>
                        <form action="/edit/ <%= dele %>" method="post">
                            <input type="text" name="editpost" placeholder="Edit">
                            <button type="submit" id="edit">Edit</button>

                        </form>
                        <form action="/delete/<%= dele %>" method="POST">
                            <button type="submit" id="del">Delete</button>
                        </form>
                    </div>
                </li>
            <%}) %>

            
        </ul>
    </div>
    
</body>
</html>