body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

main {
  text-align: center;
  padding: 5vmin;
  flex: 1 0 auto;
}

h1 {
  text-align: center;
}

p {
  color: grey;
}

form {
  margin-top: 50px;
  display: inline;
}



.rame {
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #1f4b8f;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.rame:focus {
  border: 2px solid #3586ff;
  outline: none;
}

.rume {
    width: 70%;
    margin-left: 40px;
    margin-top: 15px;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 5px 10px;
    background-color: white;
    width: 80%;
    margin-left: 120px;
}

[type="submit"] {
  width: 100%;
  background: #3586ff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
  cursor: pointer;
}
[type="submit"]:hover {
  background: #3586ff;
  cursor: pointer;
}

.del {
    margin-top: 20px;
    margin-left: 15px;
}


